﻿
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro">
    <div class="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <h2>Espor kampüs başlıyor</h2>
                    <a href="#kimiz" class="btn-get-started scrollto">Detaylar</a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- #intro -->

<main id="main">

   
    <!--==========================
      Biz kimiz Section
    ============================-->
    <section class="success-story" id="kimiz">
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="color:white">
                    <h2 class="" style="color:white">BİZ KİMİZ</h2>
                    <span class="section-divider"></span>
                    Espor Kampüs tarafından yürütülen Üniversite Ligi başlıyor! Tüm üniversitelerden takımların katılımına açık olan Üniversite Ligi, 2018 sezonunda da kıyasıya bir mücadeleye ev sahipliği yapacak!<br>
                    <div class="row">
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon.png" alt="succes-icon"></div>
                            <div class="title">Nasıl?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.</p>
                            <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto">Katıl</a></div>
                        </div>
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                            <div class="title">Ne Zaman?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                            <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto">Katıl</a></div>
                        </div>
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                            <div class="title">Ne Zaman?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                            <div class="col-md-4"><a href="#detay" class="btn-get-started scrollto" style="align-content:left">Katıl</a></div>
                        </div>
                    </div>

                    <br>
                </div>

            </div>
        </div>
    </section>


    <!--==========================
      Oyun Kısa Detay Section
    ============================-->
    <section class="section-gamedetail" id="detay">
        <div class="container">
            <div class="row">
                <div class="col-md-8" style="color:white">
                    <h4 style="color:white"> OYUN KATILIM KOŞULLARI </h4>
                    Espor Kampüs tarafından yürütülen Üniversite Ligi başlıyor! Tüm üniversitelerden takımların katılımına açık olan Üniversite Ligi, 2018 sezonunda da kıyasıya bir mücadeleye ev sahipliği yapacak!
                    <div class="row">
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon.png" alt="succes-icon"></div>
                            <div class="title">Nasıl?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                        </div>
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                            <div class="title">Ne Zaman?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                        </div>
                        <div class="col-md-4" style="color:white">
                            <div class="icon"><img src="/Content/images/common/success-icon1.png" alt="succes-icon"></div>
                            <div class="title">Ne Zaman?</div>
                            <p>Pek çok profesyonel oyuncu için çıkış noktası olan Üniversite Ligi’nin kayıtları 1 Şubat-22 Şubat tarihleri arasında sürecek ve Riot Turnuva Platformu (RTP) üzerinden gerçekleşecek.                                    </p>
                        </div>

                        <div class="col-md-12"><a href="#features" class="booking scrollto">Katıl</a></div>
                    </div>
                </div>

                <div class="col-md-4 position-relative">
                    <div class="row" style="margin-top: 35px;">
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="/Content/images/arif/lufy.png" alt="coach-image">
                        </div>
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="/Content/images/arif/lufy.png" alt="coach-image">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 35px;">
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="/Content/images/arif/lufy.png" alt="coach-image">
                        </div>
                        <div class="col-md-6" style="color:white">
                            <img class="img-responsive" src="/Content/images/arif/lufy.png" alt="coach-image">
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>


    <!--==========================
      Odul Section
    ============================-->
    <section id="features">
        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-4">
                    <div class="section-header wow fadeIn" data-wow-duration="1s">
                        <h3 style="text-align: center;">ÖDÜLLER</h3>
                        <span class="section-divider" style=" margin-top: -20px"></span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-5 features-img">
                    <img src="/Content/images/arif/winner.jpg" alt="" class="wow fadeInLeft">
                </div>

                <div class="col-lg-8 col-md-7 ">

                    <div class="row">

                        <div class="col-lg-6 col-md-6 box wow fadeInRight">
                            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            <h4 class="title" style="margin-top: 5px"><a href="">1. Takım Ödülü</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
                            <div class="icon"><i class="ion-ios-flask-outline"></i></div>
                            <h4 class="title" style="margin-top: 5px"><a href="">2. Takım Ödülü</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight data-wow-delay="0.2s"">
                            <div class="icon"><i class="ion-social-buffer-outline"></i></div>
                            <h4 class="title" style="margin-top: 5px"><a href="">1. Bİreysel Ödül</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu </p>
                        </div>
                        <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
                            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                            <h4 class="title" style="margin-top: 5px"><a href="">Pubg Ödülü</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident,</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section><!-- #features -->
    <!--==========================
      Clients
    ============================-->
    <section id="clients" style="margin-top: -20px">
        <div class="container">

            <div class="row wow fadeInUp">

                <div class="col-md-12">
                    <h2 class="section-title">OYUN TAKVİMLERİ</h2>
                </div>

                <div class="col-md-6">
                    <div class="tab-item news-tab tab-pane" id="takvim">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="section-title">Lol Turnuvası Takvimi</h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="timeline-bar">
                                        <div class="bar">
                                            <div class="date date-1 active">20 Nisan Başlangıç</div>
                                            <div class="date date-2">30 Nisan Ön Eleme</div>
                                            <div class="date date-3">1 Haziran Finaller</div>
                                            <div class="date date-4">Ödül Törenleri</div>
                                            <div class="date date-5">Ödül Törenleri</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="tab-item news-tab tab-pane" id="takvim">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="section-title">FİFA TURNUVASI TAKVİMİ</h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="timeline-bar">
                                        <div class="bar">
                                            <div class="date date-1 active">20 Nisan Başlangıç</div>
                                            <div class="date date-2">30 Nisan Ön Eleme</div>
                                            <div class="date date-3">1 Haziran Finaller</div>
                                            <div class="date date-4">Ödül Törenleri</div>
                                            <div class="date date-5">Ödül Törenleri</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="tab-item news-tab tab-pane" id="takvim">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="section-title">PUBG TURNUVASI TAKVİMİ</h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="timeline-bar">
                                        <div class="bar">
                                            <div class="date date-1 active">20 Nisan Başlangıç</div>
                                            <div class="date date-2">30 Nisan Ön Eleme</div>
                                            <div class="date date-3">1 Haziran Finaller</div>
                                            <div class="date date-4">Ödül Törenleri</div>
                                            <div class="date date-5">Ödül Törenleri</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="tab-item news-tab tab-pane" id="takvim">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="section-title">MOBİL TURNUVASI TAKVİMİ</h4>
                                </div>
                                <div class="col-md-12">
                                    <div class="timeline-bar">
                                        <div class="bar">
                                            <div class="date date-1 active">20 Nisan Başlangıç</div>
                                            <div class="date date-2">30 Nisan Ön Eleme</div>
                                            <div class="date date-3">1 Haziran Finaller</div>
                                            <div class="date date-4">Ödül Törenleri</div>
                                            <div class="date date-5">Ödül Törenleri</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/lol.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/fifa.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/csgo.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/lol.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/fifa.png" alt="">
                </div>

                <div class="col-md-2">
                    <img src="/Content/images/arif/csgo.png" alt="">
                </div>

            </div>
        </div>
    </section>

    <!--==========================
      Product Advanced Featuress Section
    ============================-->
    <section id="advanced-features">

        <!-- Bölüm 4 Başvur Başladı -->
        <div id="contact" class="esport-championship-contact">
            <div class="wrapper-img">
                <!--<img src="/Content/images/common/esport-champ-contact-background.jpg" alt="esport-champ-contact-background">-->
                <img src="/Content/images/arif/oneuser.jpg" alt="esport-champ-contact-background">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="information-wrap-left">
                            <div>
                                <span class="header-first">ESpor Kampüse </span>
                                <span class="header-red">Takım Olarak BAŞVUR</span>
                            </div>
                            <span>
                                <span>Her bir takıma ailt bilgiler kurallarda bulabilirsin</span>
                                <span>Son başvuru tarihini kaçırma</span>
                            </span>
                            <a href="basvuru.html">
                                Haydi KATIL
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="information-wrap">
                            <div>
                                <span class="header-welcom">ESpor Kampüse</span>
                                <span class="header-arena">Bİreysel BAŞVUR</span>
                            </div>
                            <span>
                                <span>Bireysel katılımlar için bilgilere kurallardan erişebilirsin</span>
                                <span>Son başvuru tarihini kaçırma</span>
                            </span>
                            <a href="basvuru.html">
                                HAYDİ KATIL
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bölüm 4 Başvur Başladı -->

    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-left">
                    <h3 class="cta-title">Call To Action</h3>
                    <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#">Call To Action</a>
                </div>
            </div>

        </div>
    </section><!-- #call-to-action -->
    <!--==========================
      More Features Section
    ============================-->
    <section id="more-features" class="section-bg">
        <div class="container">

            <div class="section-header">
                <h3 class="section-title">More Features</h3>
                <span class="section-divider"></span>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"><i class="ion-ios-stopwatch-outline"></i></div>
                        <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                        <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
                        <h4 class="title"><a href="">Dolor Sitema</a></h4>
                        <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInLeft">
                        <div class="icon"><i class="ion-ios-heart-outline"></i></div>
                        <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box wow fadeInRight">
                        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
                        <h4 class="title"><a href="">Magni Dolores</a></h4>
                        <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- #more-features -->
    <!--==========================
      Blog
    ============================-->

    <section id="blog" class="section-bg">
        <div class="outter-wrapper body-wrapper">
            <div class="wrapper ad-pad clearfix">

                <!-- Column -->
                <div class="col-1-4">
                    <h3>Our Club</h3>
                    <p class="lead">Cras justo odio, dapisonec  elit non mi porta gravida curab blait tempus.</p>
                    <p>
                        Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur. Nullam quis risusa eget urna mollis s lacus vel augue laoreet rutrum fauci leo Duis mollis, est non commodo luctus, nisi erat porttito. Fusce dapibus, tellus ac cursus commodo, tortor mauris condi. Nulla vitae elit libero, a phaugue.
                        &#8230;<a href="about.html"><i class="fas fa-angle-right"></i>detay</a>
                    </p>
                </div>


                <!-- Column -->
                <div class="col-1-4">
                    <h3>Latest News</h3>
                    <div class="mosaic-block circle">
                        <a href="post.html" class="mosaic-overlay link" title="Insert Your Title"></a><div class="mosaic-backdrop">
                            <div class="corner date">26 Aug</div><img src="/Content/img/fill-3.jpg" alt="Mock" />
                        </div>
                    </div>
                    <h6 class="title"><a href="post.html">Nominated club of the year</a></h6>
                    <p>
                        Morbi leo risus, porta ac conse ctetur ac, vestiosite Duis mollis, est non commodo luctus, nisi erat porttitor ligula. Maecenas sed diam eget risus varius blandit sit amet non magna
                        &#8230;<a href="post.html"><i class="fas fa-angle-right"></i>detay</a>
                    </p>
                </div>


                <!-- Column -->
                <div class="col-1-2 last">
                    <h3>Upcoming Events</h3>
                    <ul class="widget-event-list">
                        <li>
                            <img class="left stay" src="/Content/img/thumb-2.jpg" alt="mock" />
                            <div class="date">26 Aug</div>
                            <h6 class="title"><a href="event.html">Sydney VS Our Team - Away Game</a></h6>
                            <p>
                                Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur
                                &#8230;<a href="event.html"><i class="fas fa-angle-right"></i>detay</a>
                            </p>
                        </li>

                        <li>
                            <img class="left stay" src="/Content/img/thumb-3.jpg" alt="mock" />
                            <div class="date">18 Sept</div>
                            <h6 class="title"><a href="event.html">Sydney VS Our Team - Away Game</a></h6>
                            <p>
                                Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur
                                &#8230;<a href="event.html"><i class="fas fa-angle-right"></i>detay</a>
                            </p>
                        </li>

                        <li>
                            <img class="left stay" src="/Content/img/thumb-1.jpg" alt="mock" />
                            <div class="date">29 Sept</div>
                            <h6 class="title"><a href="event.html">Sydney VS Our Team - Away Game</a></h6>
                            <p>
                                Morbi leo risus, porta ac conse ctetur ac, vestibulum at erosite. Aenean lacinia bibendum nulsed consectetur
                                &#8230;<a href="event.html"><i class="fas fa-angle-right"></i>detay</a>
                            </p>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>

    <!--==========================
      Blog
    ============================-->
    <!--==========================
      Contact Section
    ============================-->
    <section id="iletisim">
        <div class="container">
            <div class="row wow fadeInUp">

                <div class="col-lg-4 col-md-4">
                    <div class="contact-about">
                        <h3>Ekampus</h3>
                        <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="info">
                        <div>
                            <i class="ion-ios-location-outline"></i>
                            <p>A108 Adam Street<br>New York, NY 535022</p>
                        </div>

                        <div>
                            <i class="ion-ios-email-outline"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="ion-ios-telephone-outline"></i>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-8">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #contact -->

</main>