﻿@model DAL.Users

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Single", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="contacts-wrap" style="background-image: url(/Content/images/arif/second211.png)">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8" style="color:white">
                    <h4 style="color:white">Bireysel Başvuru</h4>
                    <div class="leave-comment-wrap">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Kullanıcı Adı <a>*</a></span>
                                            @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", @style = "width:70%" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Email<a> *</a></span>
                                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @style = "width:70%" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Nickname<a> *</a></span>
                                            @Html.EditorFor(x => x.NickName, new { htmlAttributes = new { @class = "form-control", @style = "width:70%" } })
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Okul Kimliği Yükle<a> *</a></span>
                                            <input id="OgrenciKimligiButton" type="button" value="button" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Üniversite:</span>
                                        </label>
                                        @Html.DropDownListFor(x => x.Universities.UniversityId, new SelectList(ViewBag.PageList, "UniversityId", "UniversityName"))
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Takımın Var Mı?</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.RadioButton("Takim", "Evet")   <span>Evet</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButton("Takim", "Hayır") <span>Hayır</span>
                                </div>
                                <div class="col-md-12">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Takımda Olmak İster Misin?</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @Html.RadioButton("Istek", "Evet")   <span>Evet</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    @Html.RadioButton("Istek", "Hayır") <span>Hayır</span>
                                </div>
                                <div class="col-md-12">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Oyunlar:</span>
                                        </label>
                                        @*Html.DropDownListFor(x => x., new SelectList(ViewBag.PageList, "GameId", "GameName"))*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item">
                                        <label>
                                            <span style="color:white; font-size:18px">Hangi Takım</span>
                                            <div class="form-group">
                                                <select class="form-control" name="size">
                                                    <option value="">A</option>
                                                    <option value="s">B</option>
                                                    <option value="m">C</option>
                                                    <option value="l">D</option>
                                                </select>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12" style="color:white; font-size:18px">
                                    <button class="comment-submit">Katıl</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </section>
}



