﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ekampüs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="/Content/img/favicon.png" rel="icon">
    <link href="/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <link href="/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/Content/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="/Content/css/style.css" rel="stylesheet">

    <!-- team -->
    <link href="/Content/css/style.min.css" rel="stylesheet" type="text/css" />

    <!-- sports -->
    <link rel="stylesheet" type="text/css" href="/Content/css/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/skin2.css"> <!-- change to skin2.css for other skin -->
    <link rel="stylesheet" type="text/css" href="/Content/css/full.css"> <!-- change to boxed.css for boxed style -->


</head>

<body>
    <div class="preloader-wrapper" id="preloader">
        <div class="motion-line dark-big"></div>
        <div class="motion-line yellow-big"></div>
        <div class="motion-line dark-small"></div>
        <div class="motion-line yellow-normal"></div>
        <div class="motion-line yellow-small1"></div>
        <div class="motion-line yellow-small2"></div>
    </div>
    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Ekampüs</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="active"><a href="#detay"><span><strong>ANASAYFA</strong></span></a></li>
                    <li>
                        <a href="#"><span><strong>OYUNLAR</strong></span></a>
                        <ul>
                            <li>
                                <a href="#"><span>MASA ÜSTÜ OYUNLAR</span></a>
                                <ul>
                                    <li><a href="#"><span>LOL</span></a></li>
                                    <li><a href="#"><span>PUBG</span></a></li>
                                    <li><a href="#"><span>FİFA</span></a></li>
                                    <li><a href="#"><span>CS:GO</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span>MOBİL OYUNLAR</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children">
                        <a href="#"><span><strong>TURNUVA</strong></span></a>
                        <ul>
                            <li><a href="#"><span>FİKSTÜR</span></a></li>
                            <li><a href="#"><span>AKTİF OYUNLAR</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span><strong>BAŞVUR</strong></span></a>
                        <ul>
                            <li><a href="#"><span>BİREYSEL</span></a></li>
                            <li><a href="#"><span>TAKIM</span></a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span><strong>LİSE TURNUVALARI</strong></span></a></li>
                    <li><a href="#blog"><span><strong>HABERLER</strong></span></a></li>
                    <li><a href="#iletisim"><span><strong>İLETİŞİM</strong></span></a></li>

                </ul>
            </nav>
        </div>
    </header>

    <!--==========================
      {padding:15px 24px 13px 24px;border-radius:9px;border:none;background:#fc0;font-size:16px;color:#141414;text-transform:uppercase;font-family:Montserrat,sans-serif;margin-top:30px}
    ============================-->

   @RenderBody()

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-lg-left text-center">
                    <div class="copyright">
                        &copy; Copyright <strong>Avilon</strong>. All Rights Reserved
                    </div>
                    <div class="credits">

                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
                        <a href="#intro" class="scrollto">Home</a>
                        <a href="#about" class="scrollto">About</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Use</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="/Content/lib/jquery/jquery.min.js"></script>
    <script src="/Content/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/Content/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/lib/easing/easing.min.js"></script>
    <script src="/Content/lib/wow/wow.min.js"></script>
    <script src="/Content/lib/superfish/hoverIntent.js"></script>
    <script src="/Content/lib/superfish/superfish.min.js"></script>
    <script src="/Content/lib/magnific-popup/magnific-popup.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6//Scripts/js/all.js"></script>



    <!-- DİĞER JAVASCRİPLER -->
    <script type="text/javascript" src="/Scripts/js/library/chartist.js"></script>
    <script type="text/javascript" src="/Scripts/js/library/Chart.js"></script>
    <script type="text/javascript" src="/Scripts/js/preloader.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="/Scripts/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/Scripts/js/main.js"></script>

</body>
</html>
