﻿
@{
    ViewBag.Title = "BlogAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using (Html.BeginForm("BlogAdd", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<section class="wrapper">
    <div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">

            <h3 style="text-align:center">BLOG</h3>

                <h5 style="text-align:center">Yeni Blog Ekle</h5>
                <div class="form-horizontal" style="width:90%">

                    <p style="text-align:center"> @ViewBag.BosVeri</p>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Başlık", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("Isim", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Isim", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Resim", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="BlogResmi" />Lütfen Bir Resim Yükleyeniz.
                            @Html.ValidationMessage("Resim", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Blog İçeriği", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("blogg", new { @id = "editor1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-6">
                            <input type="submit" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>

                </div>
            
        </div>
      
        <!-- page end-->
    </div>
</section>
}



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bilgi</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:medium;">İşlem Başarılı!</p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var editor = CKEDITOR.instances['editor1'];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace('editor1', {
        enterMode: CKEDITOR.ENTER_BR,
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
</script>
