﻿
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
               Blog <span style="margin-right:2%; right:2% ;position:absolute;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:small"><a href="@Url.Action("BlogAdd","Admin")"><img src="~/Admin/images/addButton.png" width="32px" height="32px" title="Yeni Ekle" />&nbsp; Yeni Blog Ekle</a></span>
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Başlık</th>
                            <th>Resim</th>
                            <th>Durum</th>
                            <th>Tarih</th>
                            <th></th>
                          <!--  <th data-breakpoints="xs">Job Title</th>

                            <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-expanded="true">
                            <td>1</td>
                            <td>Blog Başlığı</td>
                            <td>(Resim)</td>
                            <td><a href="@Url.Action("BlogDurum", "Admin")">  <span class="label label-success">Aktif</span></a></td>

                            <td>July 25th 1960</td>
                            <td>
                                <a href="#">
                                    <img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Detay" />
                                </a>
                                <a href="@Url.Action("BlogEdit","Admin")">
                                    <img src="~/Admin/images/updateButton.png" height="32" width="32" title="Güncelle" />
                                </a>
                                <a href="#">
                                    <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                </a>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>