﻿
@{
    ViewBag.Title = "Messages";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="wrapper">
    <div class="table-agile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                Mesajlar
            </div>
            <div>
                <table class="table" ui-jq="footable" ui-options="{
        &quot;paging&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;filtering&quot;: {
          &quot;enabled&quot;: true
        },
        &quot;sorting&quot;: {
          &quot;enabled&quot;: true
        }}">
                    <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Gönderici Adı</th>
                            <th>E-Posta</th>
                            <th>IP Adresi</th>
                            <th>Gönderim Zamanı</th>

                            <th></th>
                            <!--  <th data-breakpoints="xs">Job Title</th>

                              <th data-breakpoints="xs sm md" data-title="DOB">Date of Birth</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-expanded="true">
                            <td>1</td>
                            <td>(isim)</td>
                            <td>(eposta)</td>
                            <td>(ip adresi)</td>
                            <td>(tarih)</td>

                            <td>
                                <a href="#">
                                    <img src="~/Admin/images/informationIcon.png" height="32" width="32" title="Detay" />
                                </a>
                                <a href="#">
                                    <img src="~/Admin/images/deleteButton.png" height="32" width="32" title="Sil" />
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

