﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="wrapper">
    <div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                       Ayarlar
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                     @Html.Label("Şirket Adı", htmlAttributes: new { @class = "control-label col-md-4" })
                     <div class="col-md-8">
                           @Html.Editor("Sirket", new { htmlAttributes = new { @class = "form-control"} })
                            @Html.ValidationMessage("Sirket", "", new { @class = "text-danger" })<br />
                      </div>
                   </div>

                        <div class="form-group">
                            @Html.Label("E-Mail", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })<br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Telefon", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.Editor("Telefon", new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessage("Telefon", "", new { @class = "text-danger" })<br />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.Label("Durum", "Yayın Durumu", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @* @Html.RadioButtonFor(x => x.Role, "Müdür") <span>Müdür</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*@
                                @Html.RadioButton("Durum", "Yayında")   <span>Yayında</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                @Html.RadioButton("Durum", "Onarım")   <span>Onarım</span>
                                <br /><br /><br />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                <input type="submit" value="Kaydet" class="btn btn-success" style="width:40%" />
                            </div>
                        </div>
}
                        </div>

                    </div>
                </section>

            </div>
        </div>
     
        <!-- page end-->
    </div>
</section>

